In [13]:
import pandas as pd

# User columns, using to read csv
u_cols = ['User-ID', 'Location', 'Age']
users = pd.read_csv('BX-CSV-Dump/BX-Users.csv', sep=';', names=u_cols, encoding='latin-1')

# Book columns, using to read CSV
b_cols = ['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication',
          'Publisher', 'Image-URL-S', 'Image-URL-M', 'Image-URL-L', '1', '2', '3', '4', '5', '6'
         ]
books = pd.read_csv('BX-CSV-Dump/BX-Books.csv', sep=',', names=b_cols, encoding='utf-8')
books.loc[:, 'ISBN':'Book-Author']

# Rating column, using to read CSV
r_cols = ["userId", "ISBN", "Rating"]
ratings = pd.read_csv('BX-CSV-Dump/BX-Book-Ratings.csv', sep=';', names=r_cols, encoding='latin-1')
ratings = ratings[1:]; users = users[1:]; books = books[1:]
ratings.head()

   userId        ISBN Rating
1  276725  034545104X      0
2  276726  0155061224      5
3  276727  0446520802      0
4  276729  052165615X      3
5  276729  0521795028      6

In [14]:
users.head()

  User-ID                            Location  Age
1       1                  nyc, new york, usa  NaN
2       2           stockton, california, usa   18
3       3     moscow, yukon territory, russia  NaN
4       4           porto, v.n.gaia, portugal   17
5       5  farnborough, hants, united kingdom  NaN

In [15]:
books = books.loc[:, 'ISBN':'Book-Author']; books.head()

,ISBN,Book-Title,Book-Author
1,195153448,Classical Mythology,Mark P. O. Morford
2,2005018,Clara Callan,Richard Bruce Wright
3,60973129,Decision in Normandy,Carlo D'Este
4,374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata
5,393045218,The Mummies of Urumchi,E. J. W. Barber

In [30]:
import sys
default_stdout = sys.stdout
default_stderr = sys.stderr
reload(sys)
sys.stdout = default_stdout
sys.stderr = default_stderr
sys.setdefaultencoding('utf-8')
import graphlab
ratings['userId'] = ratings['userId'].astype(str)
ratings['ISBN'] = ratings['ISBN'].astype(str)
ratings['Rating'] = ratings['Rating'].astype(int)
train_data = graphlab.SFrame(ratings)

In [31]:
popularity_model = graphlab.popularity_recommender.create(train_data, user_id='userId', item_id='ISBN', target='Rating')
popularity_recomm = popularity_model.recommend(users=[276725,],k=50)
popularity_recomm.print_rows(num_rows=25)

Recsys training: model = popularity

Preparing data set.

    Data has 1149780 observations with 105283 users and 340556 items.

1149780 observations to process; with 340556 unique items.

    Data prepared in: 0.902752s

In [32]:
popularity_recomm.print_rows(num_rows=25)