In [1]:
import pandas as pd

# pass in column names for each CSV and read them using pandas. 
# Column names available in the readme file

#Reading users file:
u_cols = ['user_id', 'age', 'sex', 'occupation', 'zip_code']
users = pd.read_csv('ml-100k/u.user', sep='|', names=u_cols,
 encoding='latin-1')

#Reading ratings file:
r_cols = ['user_id', 'movie_id', 'rating', 'unix_timestamp']
ratings = pd.read_csv('ml-100k/u.data', sep='\t', names=r_cols,
 encoding='latin-1')

#Reading items file:
i_cols = ['movie id', 'movie title' ,'release date','video release date', 'IMDb URL', 'unknown', 'Action', 'Adventure',
 'Animation', 'Children\'s', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy',
 'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']
items = pd.read_csv('ml-100k/u.item', sep='|', names=i_cols,
 encoding='latin-1')

In [2]:
print users.shape

(943, 5)

In [3]:
users.head()

   user_id  age sex  occupation zip_code
0        1   24   M  technician    85711
1        2   53   F       other    94043
2        3   23   M      writer    32067
3        4   24   M  technician    43537
4        5   33   F       other    15213

In [4]:
r_cols = ['user_id', 'movie_id', 'rating', 'unix_timestamp']
ratings_base = pd.read_csv('ml-100k/ua.base', sep='\t', names=r_cols, encoding='latin-1')
ratings_test = pd.read_csv('ml-100k/ua.test', sep='\t', names=r_cols, encoding='latin-1')
ratings_base.shape, ratings_test.shape

((90570, 4), (9430, 4))

In [5]:
import graphlab
train_data = graphlab.SFrame(ratings_base)
test_data = graphlab.SFrame(ratings_test)

This non-commercial license of GraphLab Create for academic use is assigned to hophamtenquang@gmail.com and will expire on August 22, 2018.

[INFO] graphlab.cython.cy_server: GraphLab Create v2.1 started. Logging: /tmp/graphlab_server_1504003798.log

In [6]:
train_data

Columns:
	user_id	int
	movie_id	int
	rating	int
	unix_timestamp	int

Rows: 90570

Data:
+---------+----------+--------+----------------+
| user_id | movie_id | rating | unix_timestamp |
+---------+----------+--------+----------------+
|    1    |    1     |   5    |   874965758    |
|    1    |    2     |   3    |   876893171    |
|    1    |    3     |   4    |   878542960    |
|    1    |    4     |   3    |   876893119    |
|    1    |    5     |   3    |   889751712    |
|    1    |    6     |   5    |   887431973    |
|    1    |    7     |   4    |   875071561    |
|    1    |    8     |   1    |   875072484    |
|    1    |    9     |   5    |   878543541    |
|    1    |    10    |   3    |   875693118    |
+---------+----------+--------+----------------+
[90570 rows x 4 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [7]:
test_data

Columns:
	user_id	int
	movie_id	int
	rating	int
	unix_timestamp	int

Rows: 9430

Data:
+---------+----------+--------+----------------+
| user_id | movie_id | rating | unix_timestamp |
+---------+----------+--------+----------------+
|    1    |    20    |   4    |   887431883    |
|    1    |    33    |   4    |   878542699    |
|    1    |    61    |   4    |   878542420    |
|    1    |   117    |   3    |   874965739    |
|    1    |   155    |   2    |   878542201    |
|    1    |   160    |   4    |   875072547    |
|    1    |   171    |   5    |   889751711    |
|    1    |   189    |   3    |   888732928    |
|    1    |   202    |   5    |   875072442    |
|    1    |   265    |   4    |   878542441    |
+---------+----------+--------+----------------+
[9430 rows x 4 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [9]:
#Train Model
item_sim_model = graphlab.item_similarity_recommender.create(train_data, user_id='user_id', item_id='movie_id', target='rating', similarity_type='pearson')

Recsys training: model = item_similarity

Warning: Ignoring columns unix_timestamp;

    To use these columns in scoring predictions, use a model that allows the use of additional features.

Preparing data set.

    Data has 90570 observations with 943 users and 1680 items.

    Data prepared in: 0.097792s

Training model from provided data.

Gathering per-item and per-user statistics.

+--------------------------------+------------+

| Elapsed Time (Item Statistics) | % Complete |

+--------------------------------+------------+

| 5.27ms                         | 100        |

+--------------------------------+------------+

Setting up lookup tables.

Processing data in one pass using dense lookup tables.

+-------------------------------------+------------------+-----------------+

| Elapsed Time (Constructing Lookups) | Total % Complete | Items Processed |

+-------------------------------------+------------------+-----------------+

| 7.541ms                             | 0.25             | 6               |

| 270.001ms                           | 100              | 1680            |

+-------------------------------------+------------------+-----------------+

Finalizing lookup tables.

Generating candidate set for working with new users.

Finished training in 0.284647s

In [11]:
#Make Recommendations:
item_sim_recomm = item_sim_model.recommend(users=range(1,10),k=5)
item_sim_recomm.print_rows(num_rows=50)

+---------+----------+-------+------+
| user_id | movie_id | score | rank |
+---------+----------+-------+------+
|    1    |   1467   |  5.0  |  1   |
|    1    |   1201   |  5.0  |  2   |
|    1    |   1189   |  5.0  |  3   |
|    1    |   1122   |  5.0  |  4   |
|    1    |   814    |  5.0  |  5   |
|    2    |   1467   |  5.0  |  1   |
|    2    |   1201   |  5.0  |  2   |
|    2    |   1189   |  5.0  |  3   |
|    2    |   1122   |  5.0  |  4   |
|    2    |   814    |  5.0  |  5   |
|    3    |   1467   |  5.0  |  1   |
|    3    |   1201   |  5.0  |  2   |
|    3    |   1189   |  5.0  |  3   |
|    3    |   1122   |  5.0  |  4   |
|    3    |   814    |  5.0  |  5   |
|    4    |   1467   |  5.0  |  1   |
|    4    |   1201   |  5.0  |  2   |
|    4    |   1189   |  5.0  |  3   |
|    4    |   1122   |  5.0  |  4   |
|    4    |   814    |  5.0  |  5   |
|    5    |   1467   |  5.0  |  1   |
|    5    |   1201   |  5.0  |  2   |
|    5    |   1189   |  5.0  |  3   |
|    5    |   1122   |  5.0  |  4   |
|    5    |   814    |  5.0  |  5   |
|    6    |   1467   |  5.0  |  1   |
|    6    |   1201   |  5.0  |  2   |
|    6    |   1189   |  5.0  |  3   |
|    6    |   1122   |  5.0  |  4   |
|    6    |   814    |  5.0  |  5   |
|    7    |   1467   |  5.0  |  1   |
|    7    |   1201   |  5.0  |  2   |
|    7    |   1189   |  5.0  |  3   |
|    7    |   1122   |  5.0  |  4   |
|    7    |   814    |  5.0  |  5   |
|    8    |   1467   |  5.0  |  1   |
|    8    |   1201   |  5.0  |  2   |
|    8    |   1189   |  5.0  |  3   |
|    8    |   1122   |  5.0  |  4   |
|    8    |   814    |  5.0  |  5   |
|    9    |   1467   |  5.0  |  1   |
|    9    |   1201   |  5.0  |  2   |
|    9    |   1189   |  5.0  |  3   |
|    9    |   1122   |  5.0  |  4   |
|    9    |   814    |  5.0  |  5   |
+---------+----------+-------+------+
[45 rows x 4 columns]

In [11]:
popularity_model = graphlab.popularity_recommender.create(train_data, user_id='user_id', item_id='movie_id', target='rating')
#Get recommendations for first 5 users and print them
#users = range(1,6) specifies user ID of first 5 users
#k=5 specifies top 5 recommendations to be given
popularity_recomm = popularity_model.recommend(users=range(1,6),k=5)
popularity_recomm.print_rows(num_rows=25)

Recsys training: model = popularity

Warning: Ignoring columns unix_timestamp;

    To use these columns in scoring predictions, use a model that allows the use of additional features.

Preparing data set.

    Data has 90570 observations with 943 users and 1680 items.

    Data prepared in: 0.0836s

90570 observations to process; with 1680 unique items.

+---------+----------+-------+------+
| user_id | movie_id | score | rank |
+---------+----------+-------+------+
|    1    |   1467   |  5.0  |  1   |
|    1    |   1201   |  5.0  |  2   |
|    1    |   1189   |  5.0  |  3   |
|    1    |   1122   |  5.0  |  4   |
|    1    |   814    |  5.0  |  5   |
|    2    |   1467   |  5.0  |  1   |
|    2    |   1201   |  5.0  |  2   |
|    2    |   1189   |  5.0  |  3   |
|    2    |   1122   |  5.0  |  4   |
|    2    |   814    |  5.0  |  5   |
|    3    |   1467   |  5.0  |  1   |
|    3    |   1201   |  5.0  |  2   |
|    3    |   1189   |  5.0  |  3   |
|    3    |   1122   |  5.0  |  4   |
|    3    |   814    |  5.0  |  5   |
|    4    |   1467   |  5.0  |  1   |
|    4    |   1201   |  5.0  |  2   |
|    4    |   1189   |  5.0  |  3   |
|    4    |   1122   |  5.0  |  4   |
|    4    |   814    |  5.0  |  5   |
|    5    |   1467   |  5.0  |  1   |
|    5    |   1201   |  5.0  |  2   |
|    5    |   1189   |  5.0  |  3   |
|    5    |   1122   |  5.0  |  4   |
|    5    |   814    |  5.0  |  5   |
+---------+----------+-------+------+
[25 rows x 4 columns]

In [12]:
ratings_base.groupby(by='movie_id')['rating'].mean().sort_values(ascending=False).head(20)

movie_id
1500    5.000000
1293    5.000000
1122    5.000000
1189    5.000000
1656    5.000000
1201    5.000000
1599    5.000000
814     5.000000
1467    5.000000
1536    5.000000
1449    4.714286
1642    4.500000
1463    4.500000
1594    4.500000
1398    4.500000
114     4.491525
408     4.480769
169     4.476636
318     4.475836
483     4.459821
Name: rating, dtype: float64

In [13]:
popularity_recomm.print_rows(num_rows=25)

+---------+----------+-------+------+
| user_id | movie_id | score | rank |
+---------+----------+-------+------+
|    1    |   1467   |  5.0  |  1   |
|    1    |   1201   |  5.0  |  2   |
|    1    |   1189   |  5.0  |  3   |
|    1    |   1122   |  5.0  |  4   |
|    1    |   814    |  5.0  |  5   |
|    2    |   1467   |  5.0  |  1   |
|    2    |   1201   |  5.0  |  2   |
|    2    |   1189   |  5.0  |  3   |
|    2    |   1122   |  5.0  |  4   |
|    2    |   814    |  5.0  |  5   |
|    3    |   1467   |  5.0  |  1   |
|    3    |   1201   |  5.0  |  2   |
|    3    |   1189   |  5.0  |  3   |
|    3    |   1122   |  5.0  |  4   |
|    3    |   814    |  5.0  |  5   |
|    4    |   1467   |  5.0  |  1   |
|    4    |   1201   |  5.0  |  2   |
|    4    |   1189   |  5.0  |  3   |
|    4    |   1122   |  5.0  |  4   |
|    4    |   814    |  5.0  |  5   |
|    5    |   1467   |  5.0  |  1   |
|    5    |   1201   |  5.0  |  2   |
|    5    |   1189   |  5.0  |  3   |
|    5    |   1122   |  5.0  |  4   |
|    5    |   814    |  5.0  |  5   |
+---------+----------+-------+------+
[25 rows x 4 columns]

In [ ]:
|