In [2]:
import pandas as pd

# User columns, using to read csv
u_cols = ['User-ID', 'Location', 'Age']
users = pd.read_csv('BX-CSV-Dump/BX-Users.csv', sep=';', names=u_cols, encoding='latin-1')

# Book columns, using to read CSV
b_cols = ['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication',
          'Publisher', 'Image-URL-S', 'Image-URL-M', 'Image-URL-L', '1', '2', '3', '4', '5', '6'
         ]
books = pd.read_csv('BX-CSV-Dump/BX-Books.csv', sep=',', names=b_cols, encoding='utf-8')
books.loc[:, 'ISBN':'Book-Author']

# Rating column, using to read CSV
r_cols = ["User-ID", "ISBN", "Book-Rating"]
ratings = pd.read_csv('BX-CSV-Dump/BX-Book-Ratings.csv', sep=';', names=r_cols, encoding='utf-8')

/home/hophamtenquang/PE/env/local/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0,2) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/home/hophamtenquang/PE/env/local/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (12,13) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
users.shape

(278859, 3)

In [4]:
users.head()

   User-ID                         Location  Age
0  User-ID                         Location  Age
1        1               nyc, new york, usa  NaN
2        2        stockton, california, usa   18
3        3  moscow, yukon territory, russia  NaN
4        4        porto, v.n.gaia, portugal   17

In [5]:
books.shape[0]

271380

In [6]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,1,2,3,4,5,6
0,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,NaN,NaN,NaN,NaN,NaN,NaN
1,195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,NaN,NaN,NaN,NaN,NaN,NaN
2,2005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,NaN,NaN,NaN,NaN,NaN,NaN
3,60973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,NaN,NaN,NaN,NaN,NaN,NaN
4,374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
blen = books.shape[0]

In [8]:
blen

271380

In [9]:
books = books[1:]

In [10]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,1,2,3,4,5,6
1,195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,NaN,NaN,NaN,NaN,NaN,NaN
2,2005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,NaN,NaN,NaN,NaN,NaN,NaN
3,60973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,NaN,NaN,NaN,NaN,NaN,NaN
4,374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,NaN,NaN,NaN,NaN,NaN,NaN
5,393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
books = books.loc[:, 'ISBN':'Book-Author']

In [12]:
books.head()

,ISBN,Book-Title,Book-Author
1,195153448,Classical Mythology,Mark P. O. Morford
2,2005018,Clara Callan,Richard Bruce Wright
3,60973129,Decision in Normandy,Carlo D'Este
4,374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata
5,393045218,The Mummies of Urumchi,E. J. W. Barber

In [13]:
books.shape

(271379, 3)

In [14]:
import graphlab

In [20]:
ratings.head()

   User-ID        ISBN  Book-Rating
0  User-ID        ISBN  Book-Rating
1   276725  034545104X            0
2   276726  0155061224            5
3   276727  0446520802            0
4   276729  052165615X            3

In [36]:
# Rating column, using to read CSV
r_cols = ["User-ID", "ISBN", "Rating"]
ratings = pd.read_csv('BX-CSV-Dump/BX-Book-Ratings.csv', sep=';', names=r_cols, encoding='latin-1')
ratings = ratings[1:]
ratings.head()

  User-ID        ISBN Rating
1  276725  034545104X      0
2  276726  0155061224      5
3  276727  0446520802      0
4  276729  052165615X      3
5  276729  0521795028      6

In [37]:
import sys
reload(sys)
sys.setdefaultencoding('utf-8')
ratings['User-ID'] = ratings['User-ID'].astype(str)
ratings['ISBN'] = ratings['ISBN'].astype(str)
ratings['Rating'] = ratings['Rating'].astype(int)

In [39]:
train_data = graphlab.SFrame(ratings)

In [40]:
train_data

Columns:
	User-ID	str
	ISBN	str
	Rating	int

Rows: 1149780

Data:
+---------+------------+--------+
| User-ID |    ISBN    | Rating |
+---------+------------+--------+
|  276725 | 034545104X |   0    |
|  276726 | 0155061224 |   5    |
|  276727 | 0446520802 |   0    |
|  276729 | 052165615X |   3    |
|  276729 | 0521795028 |   6    |
|  276733 | 2080674722 |   0    |
|  276736 | 3257224281 |   8    |
|  276737 | 0600570967 |   6    |
|  276744 | 038550120X |   7    |
|  276745 | 342310538  |   10   |
+---------+------------+--------+
[1149780 rows x 3 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [46]:
popularity_model = graphlab.popularity_recommender.create(train_data, user_id='User-ID', item_id='ISBN', target='Rating')
popularity_recomm = popularity_model.recommend(users=[276725,],k=5)
popularity_recomm.print_rows(num_rows=25)

Recsys training: model = popularity

Preparing data set.

    Data has 1149780 observations with 105283 users and 340556 items.

1149780 observations to process; with 340556 unique items.

    Data prepared in: 0.890691s

TypeError: Parameter users must be of type(s) SArray, list, SFrame, numpy.ndarray; Type '<type 'int'>' not recognized.

In [45]:
popularity_recomm.print_rows(num_rows=25)