In [1]:
import pandas as pd

# User columns, using to read csv
u_cols = ['User-ID', 'Location', 'Age']
users = pd.read_csv('BX-CSV-Dump/BX-Users.csv', sep=';', names=u_cols, encoding='latin-1')

# Book columns, using to read CSV
b_cols = ['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication',
          'Publisher', 'Image-URL-S', 'Image-URL-M', 'Image-URL-L', '1', '2', '3', '4', '5', '6'
         ]
books = pd.read_csv('BX-CSV-Dump/BX-Books.csv', sep=',', names=b_cols, encoding='utf-8')
books.loc[:, 'ISBN':'Book-Author']

# Rating column, using to read CSV
r_cols = ["userId", "ISBN", "Rating"]
ratings = pd.read_csv('BX-CSV-Dump/BX-Book-Ratings.csv', sep=';', names=r_cols, encoding='latin-1')
ratings = ratings[1:]; users = users[1:]; books = books[1:]
ratings.head()

/home/hophamtenquang/PE/env/local/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0,2) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/home/hophamtenquang/PE/env/local/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (12,13) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

   userId        ISBN Rating
1  276725  034545104X      0
2  276726  0155061224      5
3  276727  0446520802      0
4  276729  052165615X      3
5  276729  0521795028      6

In [6]:
import sys
default_stdout = sys.stdout
default_stderr = sys.stderr
reload(sys)
sys.stdout = default_stdout
sys.stderr = default_stderr
sys.setdefaultencoding('utf-8')
import graphlab
ratings['userId'] = ratings['userId'].astype(str)
ratings['ISBN'] = ratings['ISBN'].astype(str)
ratings['Rating'] = ratings['Rating'].astype(int)
data = graphlab.SFrame(ratings)

In [7]:
popularity_model = graphlab.popularity_recommender.create(data, user_id='userId', item_id='ISBN', target='Rating')
popularity_recomm = popularity_model.recommend(users=[276725,],k=50)
popularity_recomm.print_rows(num_rows=50)

Recsys training: model = popularity

Preparing data set.

    Data has 1149780 observations with 105283 users and 340556 items.

    Data prepared in: 0.867708s

1149780 observations to process; with 340556 unique items.

+--------+-------------+-------+------+
| userId |     ISBN    | score | rank |
+--------+-------------+-------+------+
| 276725 |  0967819946 |  10.0 |  1   |
| 276725 |  1550415107 |  10.0 |  2   |
| 276725 |  8420442909 |  10.0 |  3   |
| 276725 |  0553382098 |  10.0 |  4   |
| 276725 |  1550416723 |  10.0 |  5   |
| 276725 | 15504717320 |  10.0 |  6   |
| 276725 |  0062771507 |  10.0 |  7   |
| 276725 |  185813871X |  10.0 |  8   |
| 276725 |  0590411861 |  10.0 |  9   |
| 276725 |  1899434488 |  10.0 |  10  |
| 276725 |  0802116485 |  10.0 |  11  |
| 276725 |  1852700483 |  10.0 |  12  |
| 276725 |  0671531441 |  10.0 |  13  |
| 276725 |  0786881097 |  10.0 |  14  |
| 276725 |  067144722X |  10.0 |  15  |
| 276725 |  0861630343 |  10.0 |  16  |
| 276725 |  1558746862 |  10.0 |  17  |
| 276725 |  0860209393 |  10.0 |  18  |
| 276725 |  1931333246 |  10.0 |  19  |
| 276725 |  1878067273 |  10.0 |  20  |
| 276725 |  0812570057 |  10.0 |  21  |
| 276725 |  0806946466 |  10.0 |  22  |
| 276725 |  0762727942 |  10.0 |  23  |
| 276725 |  0142300128 |  10.0 |  24  |
| 276725 |  0671733370 |  10.0 |  25  |
| 276725 |  1559718641 |  10.0 |  26  |
| 276725 |  8401813123 |  10.0 |  27  |
| 276725 |  0877286477 |  10.0 |  28  |
| 276725 |  0140481621 |  10.0 |  29  |
| 276725 |  8440682697 |  10.0 |  30  |
| 276725 |  080502669X |  10.0 |  31  |
| 276725 |  0807281530 |  10.0 |  32  |
| 276725 |  096737930X |  10.0 |  33  |
| 276725 |  0723237840 |  10.0 |  34  |
| 276725 |  0723216371 |  10.0 |  35  |
| 276725 |  0679737391 |  10.0 |  36  |
| 276725 |  0721406173 |  10.0 |  37  |
| 276725 |  0152022740 |  10.0 |  38  |
| 276725 |  1861870612 |  10.0 |  39  |
| 276725 |  1900234033 |  10.0 |  40  |
| 276725 |  0439417848 |  10.0 |  41  |
| 276725 | 44009577075 |  10.0 |  42  |
| 276725 |  0600400409 |  10.0 |  43  |
| 276725 |  0306801531 |  10.0 |  44  |
| 276725 |  0385295251 |  10.0 |  45  |
| 276725 |  059070592X |  10.0 |  46  |
| 276725 |  1588370232 |  10.0 |  47  |
| 276725 |  1877733113 |  10.0 |  48  |
| 276725 |  0140378006 |  10.0 |  49  |
| 276725 |  0216927781 |  10.0 |  50  |
+--------+-------------+-------+------+
[50 rows x 4 columns]

In [8]:
ratings.groupby(by='ISBN')['Rating'].mean().sort_values(ascending=False).head(20)

ISBN
0862418917    10.0
8440682697    10.0
8440684096    10.0
1573540706    10.0
0871352427    10.0
157356303X    10.0
0871319853    10.0
1573660949    10.0
0440585732    10.0
0140193588    10.0
0440585031    10.0
1573800759    10.0
0140193529    10.0
8440688288    10.0
1573890049    10.0
8440690509    10.0
157392010X    10.0
0140192417    10.0
1573920630    10.0
087131789     10.0
Name: Rating, dtype: float64

In [ ]:
train_data, test_data = sf.random_split(.9, seed=5)